##############################
## IntelliJ
##############################
.idea
.idea/
.idea/*
.idea_modules
.idea_modules/
.idea_modules/*
*.iml
*.ipr
*.iws

##############################
## Maven
##############################
target
target/
target/*

##############################
## OS X
##############################
.DS_Store
